@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Montserrat:ital,wght@1,100&family=Roboto:ital,wght@1,300&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --mainColor: rgb(137, 221, 11);
}

html {
    font-size: 62.5%;
    /* 1 rem = 10px */
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar a {
    /* margin-left: 17px; */
    /* margin-right: 17px; */
    padding: 14px;
    font-size: x-large;
    font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    color: aqua;
}

.navbar a:hover {
    color: rgb(137, 221, 11) !important;
}

.collapse ul li {
    margin-left: 12px;
    font-size: x-large;
    font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.main_header_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* min-height: 60rem; */
    align-items: flex-start;
    
}

.main_header_left p {
    font-size: 2rem;
}

.main_header_left h1 {
    font-size: 3.5rem;
    text-transform: capitalize;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.main_header_right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* min-height: 60rem; */
    align-items: flex-start;
}

.main_header_left button {
    border-radius: 5px;
    border: none;
    font-size: 1.5rem;
    /* background-color: rgb(214, 204, 204); */
    outline: none;
    padding: 5px;
    box-shadow: 0px 8px 6px -6px black;
}

.main_header_left button a {
    text-decoration: none;
    color: rgb(22, 22, 22);
    font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.main_header_left button:hover {
    box-shadow: 0px 8px 6px -6px rgb(137, 221, 11);
}

footer {
    text-align: center;
    width: 100%;
    color: var(--mainColor);
    background-color: #212529;
    line-height: 5rem;
    font-size: 2rem;
    margin-top: auto;
}

/* Responsive design */
@media (max-width: 780px) {
    .main_header_left {
        margin: 5rem 0;
    }

    .main_header_right {
        margin-top: 3rem;
    }
}