<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error Page</title>
    {{>headerLinks}}
    <style>
        .main{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            width: 100%;
        }
    </style>
</head>
<body>
    {{>navbar}}
    <div class="main">
<h1 style="color: red;">Page Not Found</h1>
    </div>
    {{>footer}}
</body>
</html>